@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color-primary: #34495e;
    --color-mid: #bdc3c7;
    --color-heading: white;
}
textarea{
    height: 20vh;
    width: 70vw;
    display:block;
    margin:5px auto;
    border-width: 2px;
    border-color: var(--color-primary);
    border-radius: 5px;
    font-size: 1.5rem;
    
}


.header{
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-heading);
    padding: 1rem;
    border-radius: 0.2rem;
    
    
}
body{
    background-color: var(--color-mid);
    font-family: 'Courgette', cursive;
}
#btnTranslate{
    display:block;
    margin: 10px auto;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--color-primary);
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-primary);
}

#btnTranslate:hover{
    background-color: #2980b9;
    cursor: pointer;
    color: var(--color-heading);
}

p{
    text-align:center;
}
.footer{
    background-color: var(--color-primary);
    height: 20vh;
    justify-content: center;
    align-items: center;
    color:var(--color-heading);
    margin-top: 2rem;
       
}